{% extends "base.html" %}

{% block content %}

<h2> Sign up </h2>
<form action="" method="POST">

    <p>
        {{form.first_name.label}} <br>
        {{form.first_name(size=30)}}
    </p>

    <p>
        {{form.last_name.label}} <br>
        {{form.last_name(size=30)}}
    </p>

    <p>
        {{form.email.label}} <br>
        {{form.email(size=30)}}
    </p>

    <p>
        {{form.sport.label}} <br>
        {{form.sport(size=30)}}
    </p>

    <p>
        {{form.submit}}
    </p>


</form>

{% endblock %}